.navigations
{
    background-color: #a6a6a6;
}
.title
{
    text-align: center;
}

.image
{
    width: 200px;
    height: 200px;
}
.my-container
{
    padding: 0 !important;
}
.my-header
{
    background-image: url(../images/header.JPG);
    height: 200px;
    margin-bottom: 5px;
    border-radius: 4px;

}